<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="header-row">
			<div class="header-left">
				<a href="" class="header-link">
					<img src="img/logo.png" alt="" class="header-img">
				</a>
			</div>
			<div class="header-center">
				<nav class="header-nav">
					<ul class="header-list">
						<li class="header-item drop" data-text="О школе">
							<span class="header-item-span">О школе</span>
							<ul class="drop-list">
								<li class="drop-item">
									<a href="" class="drop-link">Методика</a>
								</li>
								<li class="drop-item">
									<a href="" class="drop-link">Главная</a>
								</li>
								<li class="drop-item">
									<a href="" class="drop-link">Отзывы</a>
								</li>
								<li class="drop-item">
									<a href="" class="drop-link">Вакансии</a>
								</li>
								<li class="drop-item">
									<a href="" class="drop-link">Публичная оферта</a>
								</li>
								<li class="drop-item">
									<a href="" class="drop-link">Новости</a>
								</li>
							</ul>
						</li>
						<li class="header-item" data-text="Курсы">
							<span class="header-item-span"><a href="" class="header-item-link">Курсы</a></span>
						</li>
						<li class="header-item" data-text="Расписание">
							<span class="header-item-span"><a href="" class="header-item-link">Расписание</a></span>
						</li>
						<li class="header-item" data-text="Бесплатный урок">
							<span class="header-item-span"><a href="" class="header-item-link">Бесплатный урок</a></span>
						</li>
						<li class="header-item" data-text="Speaking club">
							<span class="header-item-span"><a href="" class="header-item-link">Speaking club</a></span>
						</li>
						<li class="header-item" data-text="Контакты">
							<span class="header-item-span"><a href="" class="header-item-link">Контакты</a></span>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header-right">
				<ul class="header-lang">
					<li class="header-lang-item">
						Ru
						<ul class="header-lang-sublist">
							<li class="header-lang-subitem">Ru</li>
							<li class="header-lang-subitem">Ua</li>
						</ul>
					</li>
				</ul>
				<a href="" class="header-enter">Вход</a>
				<div class="header-block">
					<a href="tel:0442284212" class="header-phone">(044) 228 42 12</a>
					<div class="header-info">
						<div class="header-info-left">
							<h6 class="header-info-title">График работы:</h6>
							<p class="header-info-text">Пн.-Пт. с 9:30 до 22:30</p>
							<p class="header-info-text">Сб. - до 18:00</p>
							<p class="header-info-text">Вс. - выходной</p>
						</div>
						<div class="header-info-right">
							<a href="tel:0442284212" class="header-info-phone header-info-phone_second">(044) 228 42 12</a>
							<a href="tel:0442284212" class="header-info-phone header-info-phone_third">(044) 228 42 12</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>