<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Veselka</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="main">
		<section class="about">
			<div class="about-overlay"></div>
			<div class="container">
				<div class="about-center">
					<div class="about-left">
						<h4 class="about-subtitle">
							<span class="subtitle-span proxi_light">Про</span>
							<span class="subtitle-bg">
								<span class="subtitle-overlay subtitle-overlay_blue"></span>
								<span class="subtitle-span new-roman">ц</span>
								<span class="subtitle-span lumberjack">е</span>
								<span class="subtitle-span proxi_light">нтр</span>
							</span>
						</h4>
						<p class="about-text">Семейный центр «Радуга» - это детский садик в Фастове, рассчитанный на 30 детей, которые будут заниматься в 2-х группах. К каждой группе будут прикреплены 2 руководителя <span class="nowrap">и их помощники.</span> Это обеспечит каждого воспитанника максимальным вниманием со стороны преподавателей. Комплекс создан молодежной организацией «Час змін». Людьми, которые не только на словах, но и на деле доказывают важность семейных ценностей и делают все для их сохранения.</p>
					</div>
					<div class="about-right">
						<img src="img/about-top_pic.svg" alt="" class="about-right-img">
					</div>
				</div>
				<div class="about-territory territory">
					<div class="territory-left">
						<img src="img/territory.jpg" alt="" class="territory-img">
					</div>
					<div class="territory-right">
						<h4 class="about-subtitle">
							<span class="subtitle-span proxi_light">Т</span>
							<span class="subtitle-span lumberjack">е</span>
							<span class="subtitle-span proxi_light">риторія</span>
						</h4>
						<p class="about-text">Территория центра – это два этажа для занятий, игр, творчества и отдыха. На втором этаже здания расположены комнаты для занятий для каждой группы, раздевалка с личными шкафчиками для каждого малыша и два санузла – для мальчиков и для девочек. На третьем этаже мы оборудовали уютную спальню и просторный актовый зал. Здание комплекса находится под охраной и круглосуточным видеонаблюдением. Кроме того, на территории находятся две закрытых игровых площадки.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="advantages">
			<div class="container">
				<div class="advantages-content">
					<h4 class="about-subtitle">
						<span class="subtitle-span proxi_light">На</span>
						<span class="subtitle-span new-roman">ш</span>
						<span class="subtitle-span proxi_light">і</span>
						<span class="subtitle-span proxi_light">&nbsp;п</span>
						<span class="subtitle-span lumberjack">е</span>
						<span class="subtitle-span proxi_light">р</span>
						<span class="subtitle-span lumberjack">ев</span>
						<span class="subtitle-span proxi_light">а</span>
						<span class="subtitle-span lumberjack">г</span>
						<span class="subtitle-span introscript">и</span>
					</h4>
					<img src="img/about-bottom_pic.svg" alt="" class="advantages-img">
					<div class="advantages-list">
						<div class="advantages-item advantages-item_first">
							<div class="advantages-block advantages-block_first">
								<img src="img/1.svg" alt="" class="advantages-svg">
							</div>
							<p class="advantages-item-title advantages-item-title_fiolet">
								<span class="advantages-item-overlay advantages-item-overlay_fiolet"></span>
								<span class="advantages-item-span proxi_light">Зр</span>
								<span class="advantages-item-span new-roman">уч</span>
								<span class="advantages-item-span proxi_light">н</span>
								<span class="advantages-item-span introscript">ий&nbsp;</span>
								<span class="advantages-item-span lumberjack">г</span>
								<span class="advantages-item-span proxi_light">ра</span>
								<span class="advantages-item-span new-roman">ф</span>
								<span class="advantages-item-span proxi_light">і</span>
								<span class="advantages-item-span introscript">к</span>
							</p>
							<p class="advantages-item-text">ми працюємо повний робочий день: з 8:00 до 18:00</p>
						</div>
						<div class="advantages-item advantages-item_second">
							<div class="advantages-block advantages-block_second">
								<img src="img/2.svg" alt="" class="advantages-svg">
							</div>
							<p class="advantages-item-title advantages-item-title_green">
								<span class="advantages-item-overlay advantages-item-overlay_green"></span>
								<span class="advantages-item-span lumberjack">Ве</span>
								<span class="advantages-item-span introscript">лик</span>
								<span class="advantages-item-span proxi_light">а</span>
								<span class="advantages-item-span proxi_light">&nbsp;т</span>
								<span class="advantages-item-span lumberjack">е</span>
								<span class="advantages-item-span proxi_light">р</span>
								<span class="advantages-item-span introscript">и</span>
								<span class="advantages-item-span proxi_light">торія</span>
							</p>
							<p class="advantages-item-text">два поверхи простору для ігор, творчості та відпочинку</p>
						</div>
						<div class="advantages-item advantages-item_third">
							<div class="advantages-block advantages-block_third">
								<img src="img/3.svg" alt="" class="advantages-svg">
							</div>
							<p class="advantages-item-title advantages-item-title_blue">
								<span class="advantages-item-overlay advantages-item-overlay_blue"></span>
								<span class="advantages-item-span proxi_light">Б</span>
								<span class="advantages-item-span lumberjack">е</span>
								<span class="advantages-item-span proxi_light">зп</span>
								<span class="advantages-item-span lumberjack">е</span>
								<span class="advantages-item-span introscript">к</span>
								<span class="advantages-item-span proxi_light">а</span>
							</p>
							<p class="advantages-item-text">закриті майданчики для кожної групи дітей, охорона та відеонагляд за територією</p>
						</div>
						<div class="advantages-item advantages-item_fourth">
							<div class="advantages-block advantages-block_fourth">
								<img src="img/4.svg" alt="" class="advantages-svg">
							</div>
							<p class="advantages-item-title advantages-item-title_red">
								<span class="advantages-item-overlay advantages-item-overlay_red"></span>
								<span class="advantages-item-span proxi_light">С</span>
								<span class="advantages-item-span introscript">м</span>
								<span class="advantages-item-span proxi_light">а</span>
								<span class="advantages-item-span new-roman">ч</span>
								<span class="advantages-item-span proxi_light">на</span>
								<span class="advantages-item-span introscript">&nbsp;к</span>
								<span class="advantages-item-span new-roman">ух</span>
								<span class="advantages-item-span proxi_light">ня</span>
							</p>
							<p class="advantages-item-text">ланчі й обіди ми замовляємо <span class="nowrap">у дитячому</span> ресторані «Чиполіно»</p>
						</div>
						<div class="advantages-item advantages-item_fifth">
							<div class="advantages-block advantages-block_fifth">
								<img src="img/5.svg" alt="" class="advantages-svg">
							</div>
							<p class="advantages-item-title advantages-item-title_yellow">
								<span class="advantages-item-overlay advantages-item-overlay_yellow"></span>
								<span class="advantages-item-span proxi_light">Ба</span>
								<span class="advantages-item-span lumberjack">г</span>
								<span class="advantages-item-span proxi_light">атосторонні</span>
								<span class="advantages-item-span introscript">й</span>
							</p>
							<p class="advantages-item-title advantages-item-title_bottom advantages-item-title_yellow">
								<span class="advantages-item-overlay advantages-item-overlay_yellow advantages-item-overlay_bottom"></span>
								<span class="advantages-item-span proxi_light">роз</span>
								<span class="advantages-item-span lumberjack">в</span>
								<span class="advantages-item-span introscript">и</span>
								<span class="advantages-item-span proxi_light">то</span>
								<span class="advantages-item-span introscript">к</span>
							</p>
							<p class="advantages-item-text">від шахів до хореографії – <span class="nowrap">тут розкриваються</span> таланти кожної дитини.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	@import "footer_white.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
