<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Veselka</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="main">
		<section class="events">
			<div class="events-overlay"></div>
			<div class="container">
				<div class="events-content">
					<h2 class="first-title title">
						<span class="title-row">
							<span class="title-span proxi_light">По</span>
							<span class="title-span lumberjack">д</span>
							<span class="title-span proxi_light">ії</span>
							<span class="title-span new-roman">&nbsp;ц</span>
							<span class="title-span lumberjack">е</span>
							<span class="title-span proxi_light">нтр</span>
							<span class="title-span new-roman">у</span>
						</span>
					</h2>
					<img src="img/events-top_pic.svg" alt="" class="events-img">
					<div class="events-list">
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_first">
								<img src="img/slider1.jpg" alt="" class="third-slider-img third-slider-img_first">
							</div>
							<h6 class="third-slider-title third-slider-title_first">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_yellow"></span>
								Підвищення</span>
								<br>кваліфікації<br> педагогів
							</h6>
							<a href="" class="third-slider-more third-slider-more_first">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_second">
								<img src="img/slider2.jpg" alt="" class="third-slider-img third-slider-img_second">
							</div>
							<h6 class="third-slider-title third-slider-title_second">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_blue"></span>
								Перемога!</span>
							</h6>
							<a href="" class="third-slider-more third-slider-more_second">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_third">
								<img src="img/slider3.jpg" alt="" class="third-slider-img third-slider-img_third">
							</div>
							<h6 class="third-slider-title third-slider-title_third">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_green"></span>
								Карате в Міжнародній</span><br>
								Інноваційній школі
							</h6>
							<a href="" class="third-slider-more third-slider-more_third">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_first">
								<img src="img/slider4.jpg" alt="" class="third-slider-img third-slider-img_first">
							</div>
							<h6 class="third-slider-title third-slider-title_first">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_red"></span>
								Корисна екскурсія у</span>
								<br>світ Стоматології
							</h6>
							<a href="" class="third-slider-more third-slider-more_first">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_second">
								<img src="img/slider5.jpg" alt="" class="third-slider-img third-slider-img_second">
							</div>
							<h6 class="third-slider-title third-slider-title_second">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_fiolet"></span>
								Благодійний ярмарок</span>
							</h6>
							<a href="" class="third-slider-more third-slider-more_second">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_third">
								<img src="img/slider6.jpg" alt="" class="third-slider-img third-slider-img_third">
							</div>
							<h6 class="third-slider-title third-slider-title_third">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_red"></span>
								Студії Міжнародної</span><br>
								Інноваційної Школи
							</h6>
							<a href="" class="third-slider-more third-slider-more_third">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_first">
								<img src="img/slider7.jpg" alt="" class="third-slider-img third-slider-img_first">
							</div>
							<h6 class="third-slider-title third-slider-title_first">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_green"></span>
								Ура! Ура! Ура! Ми</span>
								<br>відкрились! :)
							</h6>
							<a href="" class="third-slider-more third-slider-more_first">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_second">
								<img src="img/slider8.jpg" alt="" class="third-slider-img third-slider-img_second">
							</div>
							<h6 class="third-slider-title third-slider-title_second">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_blue"></span>
								Чудові гості в</span><br>
								Happy Nest
							</h6>
							<a href="" class="third-slider-more third-slider-more_second">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_third">
								<img src="img/slider5.jpg" alt="" class="third-slider-img third-slider-img_third">
							</div>
							<h6 class="third-slider-title third-slider-title_third">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_yellow"></span>
								Свято танцю</span>
							</h6>
							<a href="" class="third-slider-more third-slider-more_third">Читати...</a>
						</div>
					</div>
					<div class="events-navigation">
						<a href="" class="events-btn active">1</a>
						<a href="" class="events-btn">2</a>
						<a href="" class="events-btn">3</a>
						<a href="" class="events-btn">4</a>
						<a href="" class="events-btn events-btn_more">...</a>
						<a href="" class="events-btn">10</a>
					</div>
				</div>
			</div>
		</section>
	</main>
	@import "footer_white.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
