<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Veselka</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="main">
		<section class="services gallery">
			<div class="services-overlay"></div>
			<div class="container">
				<div class="gallery-content">
					<div class="gallery-filter">
						<a href="" class="gallery-filter-item active">Усі фото</a>
						<a href="" class="gallery-filter-item">Свята</a>
						<a href="" class="gallery-filter-item">Special days</a>
						<a href="" class="gallery-filter-item">Екскурсії</a>
						<a href="" class="gallery-filter-item">Літній табір</a>
						<a href="" class="gallery-filter-item">Інтер'єри</a>
						<a href="" class="gallery-filter-item">Балет</a>
						<a href="" class="gallery-filter-item">Харчування</a>
						<a href="" class="gallery-filter-item">Наші дні в садочку</a>
					</div>
					<div class="gallery-list">
						<a href="img/gallery1.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery1.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery2.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery2.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery3.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery3.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery4.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery4.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery5.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery5.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery6.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery6.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery1.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery1.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery2.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery2.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery3.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery3.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery4.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery4.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery5.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery5.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery6.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery6.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery4.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery4.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery5.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery5.jpg" alt="" class="gallery-img">
						</a>
						<a href="img/gallery6.jpg" class="gallery-item wow slideGo" data-fancybox="gallery">
							<img src="img/gallery6.jpg" alt="" class="gallery-img">
						</a>
					</div>
					<div class="events-navigation">
						<a href="" class="events-btn active">1</a>
						<a href="" class="events-btn">2</a>
						<a href="" class="events-btn">3</a>
						<a href="" class="events-btn">4</a>
						<a href="" class="events-btn events-btn_more">...</a>
						<a href="" class="events-btn">10</a>
					</div>
				</div>
			</div>
		</section>
	</main>
	@import "footer_white.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
