<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Veselka</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="main">
		<section class="first">
			<div class="first-mask">
				<div class="first-overlay first-overlay_top"></div>
				<div class="first-overlay first-overlay_bottom"></div>
			</div>
			<div class="container">
				<div class="first-content">
					<div class="first-left">
						<div class="first-left-slider">
							<div class="first-left-item">
								<h2 class="first-title title">
									<span class="title-row">
										<span class="title-row-bg">
											<span class="title-row-overlay"></span>
											<span class="title-span proxi_light">Б</span>
											<span class="title-span lumberjack">е</span>
											<span class="title-span proxi_light">зп</span>
											<span class="title-span lumberjack">е</span>
											<span class="title-span introscript">к</span>
											<span class="title-span proxi_light">а:</span>
										</span>
										<span class="title-span proxi_light">за</span>
										<span class="title-span introscript">к</span>
										<span class="title-span proxi_light">р</span>
										<span class="title-span introscript">и</span>
										<span class="title-span proxi_light">ті</span>
									</span>
									<span class="title-row">
										<span class="title-span introscript">м</span>
										<span class="title-span proxi_light">ай</span>
										<span class="title-span lumberjack">д</span>
										<span class="title-span proxi_light">ан</span>
										<span class="title-span new-roman">ч</span>
										<span class="title-span introscript">ики&nbsp;&nbsp;</span>
										<span class="title-span lumberjack">д</span>
										<span class="title-span introscript">л</span>
										<span class="title-span proxi_light">я</span>
									</span>
									<span class="title-row">
										<span class="title-span introscript">к</span>
										<span class="title-span proxi_light">о</span>
										<span class="title-span lumberjack">ж</span>
										<span class="title-span proxi_light">ної&nbsp;</span>
										<span class="title-span lumberjack">г</span>
										<span class="title-span proxi_light">р</span>
										<span class="title-span new-roman">у</span>
										<span class="title-span proxi_light">п</span>
										<span class="title-span introscript">и</span>
									</span>
									<span class="title-row">
										<span class="title-span lumberjack">д</span>
										<span class="title-span proxi_light">іт</span>
										<span class="title-span lumberjack">е</span>
										<span class="title-span proxi_light">й,</span>
										<span class="title-span proxi_light">&nbsp;о</span>
										<span class="title-span new-roman">х</span>
										<span class="title-span proxi_light">орона</span>
										<span class="title-span proxi_light">та</span>
									</span>
									<span class="title-row">
										<span class="title-span lumberjack">в</span>
										<span class="title-span proxi_light">і</span>
										<span class="title-span lumberjack">де</span>
										<span class="title-span proxi_light">она</span>
										<span class="title-span lumberjack">г</span>
										<span class="title-span introscript">л</span>
										<span class="title-span proxi_light">я</span>
										<span class="title-span lumberjack">д</span>
										<span class="title-span proxi_light">&nbsp;за</span>
									</span>
									<span class="title-row">
										<span class="title-span proxi_light">т</span>
										<span class="title-span lumberjack">е</span>
										<span class="title-span proxi_light">р</span>
										<span class="title-span introscript">и</span>
										<span class="title-span proxi_light">торі</span>
										<span class="title-span proxi_bold">єю</span>
									</span>
								</h2>
							</div>
							<div class="first-left-item">
								<h2 class="first-title title">
									<span class="title-row">
										<span class="title-row-bg">
											<span class="title-row-overlay"></span>
											<span class="title-span proxi_light">Б</span>
											<span class="title-span lumberjack">е</span>
											<span class="title-span proxi_light">зп</span>
											<span class="title-span lumberjack">е</span>
											<span class="title-span introscript">к</span>
											<span class="title-span proxi_light">а:</span>
										</span>
										<span class="title-span proxi_light">за</span>
										<span class="title-span introscript">к</span>
										<span class="title-span proxi_light">р</span>
										<span class="title-span introscript">и</span>
										<span class="title-span proxi_light">ті</span>
									</span>
									<span class="title-row">
										<span class="title-span introscript">м</span>
										<span class="title-span proxi_light">ай</span>
										<span class="title-span lumberjack">д</span>
										<span class="title-span proxi_light">ан</span>
										<span class="title-span new-roman">ч</span>
										<span class="title-span introscript">ики&nbsp;&nbsp;</span>
										<span class="title-span lumberjack">д</span>
										<span class="title-span introscript">л</span>
										<span class="title-span proxi_light">я</span>
									</span>
									<span class="title-row">
										<span class="title-span introscript">к</span>
										<span class="title-span proxi_light">о</span>
										<span class="title-span lumberjack">ж</span>
										<span class="title-span proxi_light">ної&nbsp;</span>
										<span class="title-span lumberjack">г</span>
										<span class="title-span proxi_light">р</span>
										<span class="title-span new-roman">у</span>
										<span class="title-span proxi_light">п</span>
										<span class="title-span introscript">и</span>
									</span>
									<span class="title-row">
										<span class="title-span lumberjack">д</span>
										<span class="title-span proxi_light">іт</span>
										<span class="title-span lumberjack">е</span>
										<span class="title-span proxi_light">й,</span>
										<span class="title-span proxi_light">&nbsp;о</span>
										<span class="title-span new-roman">х</span>
										<span class="title-span proxi_light">орона</span>
										<span class="title-span proxi_light">та</span>
									</span>
									<span class="title-row">
										<span class="title-span lumberjack">в</span>
										<span class="title-span proxi_light">і</span>
										<span class="title-span lumberjack">де</span>
										<span class="title-span proxi_light">она</span>
										<span class="title-span lumberjack">г</span>
										<span class="title-span introscript">л</span>
										<span class="title-span proxi_light">я</span>
										<span class="title-span lumberjack">д</span>
										<span class="title-span proxi_light">&nbsp;за</span>
									</span>
									<span class="title-row">
										<span class="title-span proxi_light">т</span>
										<span class="title-span lumberjack">е</span>
										<span class="title-span proxi_light">р</span>
										<span class="title-span introscript">и</span>
										<span class="title-span proxi_light">торі</span>
										<span class="title-span proxi_bold">єю</span>
									</span>
								</h2>
							</div>
							<div class="first-left-item">
								<h2 class="first-title title">
									<span class="title-row">
										<span class="title-row-bg">
											<span class="title-row-overlay"></span>
											<span class="title-span proxi_light">Б</span>
											<span class="title-span lumberjack">е</span>
											<span class="title-span proxi_light">зп</span>
											<span class="title-span lumberjack">е</span>
											<span class="title-span introscript">к</span>
											<span class="title-span proxi_light">а:</span>
										</span>
										<span class="title-span proxi_light">за</span>
										<span class="title-span introscript">к</span>
										<span class="title-span proxi_light">р</span>
										<span class="title-span introscript">и</span>
										<span class="title-span proxi_light">ті</span>
									</span>
									<span class="title-row">
										<span class="title-span introscript">м</span>
										<span class="title-span proxi_light">ай</span>
										<span class="title-span lumberjack">д</span>
										<span class="title-span proxi_light">ан</span>
										<span class="title-span new-roman">ч</span>
										<span class="title-span introscript">ики&nbsp;&nbsp;</span>
										<span class="title-span lumberjack">д</span>
										<span class="title-span introscript">л</span>
										<span class="title-span proxi_light">я</span>
									</span>
									<span class="title-row">
										<span class="title-span introscript">к</span>
										<span class="title-span proxi_light">о</span>
										<span class="title-span lumberjack">ж</span>
										<span class="title-span proxi_light">ної&nbsp;</span>
										<span class="title-span lumberjack">г</span>
										<span class="title-span proxi_light">р</span>
										<span class="title-span new-roman">у</span>
										<span class="title-span proxi_light">п</span>
										<span class="title-span introscript">и</span>
									</span>
									<span class="title-row">
										<span class="title-span lumberjack">д</span>
										<span class="title-span proxi_light">іт</span>
										<span class="title-span lumberjack">е</span>
										<span class="title-span proxi_light">й,</span>
										<span class="title-span proxi_light">&nbsp;о</span>
										<span class="title-span new-roman">х</span>
										<span class="title-span proxi_light">орона</span>
										<span class="title-span proxi_light">та</span>
									</span>
									<span class="title-row">
										<span class="title-span lumberjack">в</span>
										<span class="title-span proxi_light">і</span>
										<span class="title-span lumberjack">де</span>
										<span class="title-span proxi_light">она</span>
										<span class="title-span lumberjack">г</span>
										<span class="title-span introscript">л</span>
										<span class="title-span proxi_light">я</span>
										<span class="title-span lumberjack">д</span>
										<span class="title-span proxi_light">&nbsp;за</span>
									</span>
									<span class="title-row">
										<span class="title-span proxi_light">т</span>
										<span class="title-span lumberjack">е</span>
										<span class="title-span proxi_light">р</span>
										<span class="title-span introscript">и</span>
										<span class="title-span proxi_light">торі</span>
										<span class="title-span proxi_bold">єю</span>
									</span>
								</h2>
							</div>
						</div>
						<div class="first-left-nav">
							<div class="intro__dots"></div>
							<div class="first-left-btn"></div>
						</div>

					</div>
					<div class="first-right">
						<img src="img/top_pic.svg" alt="" class="first-right-img">
					</div>
				</div>
			</div>
		</section>
		<section class="second">
			<div class="container">
				<div class="second-content">
					<div class="second-left">
						<div class="second-video">
							<div class="second-circle-green"></div>
							<div class="second-circle-red"></div>
							<div class="second-circle-blue"></div>
							<a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="second-video-link" data-fancybox="gallery">
								<span class="second-video-overlay"></span>
								<img src="img/video-bg.jpg" alt="">
								<span class="second-video-block">
									<span class="second-play">
										<svg class="second-play-img" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 82 84" style="enable-background:new 0 0 82 84;" xml:space="preserve">
											<style type="text/css">
												.st0{fill-rule:evenodd;clip-rule:evenodd;}
											</style>
											<g id="play">
												<path class="second-play-svg" class="st0" d="M0.5,74.1V9.4c0-7,7.4-11.5,13.6-8.3l62.7,32.3c6.7,3.5,6.7,13.1,0,16.5L14.1,82.3C7.9,85.5,0.5,81,0.5,74.1z    "/>
											</g>
										</svg>
									</span>
									<p class="second-video-text">Переглянути відео</p>
								</span>

							</a>
						</div>
					</div>
					<div class="second-right">
						<img src="img/heart.svg" alt="" class="second-right-img">
						<p class="second-right-text">Семейный центр «Веселка» - это место, где раскрываются таланты. <span class="nowrap">Мы не просто</span> садик, а полноценный центр дошкольного развития для детей от 3-х до 6-ти лет. Комплекс создан молодежной организацией «Час змін». Здесь малышей ждет не только обед, дневной сон и куклы <span class="nowrap">с машинками.</span> Творческие занятия, хореография, занятия с логопедом, английский язык, полноценная подготовка к школе и никаких скучных уроков! Преподаватели центра не только любят детей, но и умеют находить ключик к каждому маленькому сердечку.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="third">
			<div class="third-overlay"></div>
			<div class="container">
				<img src="img/bottom_pic.svg" alt="" class="third-img">
				<h4 class="third-subtitle">
					<span class="third-subtitle-row">
						<span class="subtitle-span proxi_light">Останнi</span>
						<span class="subtitle-span proxi_light">&nbsp;по</span>
						<span class="subtitle-span lumberjack">д</span>
						<span class="subtitle-span proxi_light">ії</span>
					</span>
					<span class="third-subtitle-row">
						<span class="subtitle-span proxi_light">та</span>
						<span class="subtitle-span proxi_light">&nbsp;но</span>
						<span class="subtitle-span lumberjack">в</span>
						<span class="subtitle-span introscript">и</span>
						<span class="subtitle-span proxi_bold">н</span>
						<span class="subtitle-span introscript">и</span>
					</span>
				</h4>
				<div class="third-block">
					<div class="third-btns">
						<div class="third-btn third-btn_back">
							<svg class="third-btn-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85.82 55.81"><defs><style>.cls-1{fill:none;clip-rule:evenodd;}.cls-2{clip-path:url(#clip-path);}</style><clipPath id="clip-path" transform="translate(5 5)"><path class="cls-1" d="M75.82,23a2,2,0,0,0-2-2H6.73L24.32,3.41A2,2,0,1,0,21.49.59L.59,21.49a2,2,0,0,0,0,2.83l20.9,20.91a2,2,0,1,0,2.83-2.83L6.92,25h66.9A2,2,0,0,0,75.82,23Z"/></clipPath></defs><title>arrow-back</title><g class="cls-2"><rect width="85.82" height="55.81"/></g></svg>
						</div>
						<div class="third-btn-line"></div>
						<div class="third-btn third-btn_next">
							<svg class="third-btn-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85.82 55.81"><defs><style>.cls-12{fill:none;clip-rule:evenodd;}.cls-22{clip-path:url(#clip-path2);}</style><clipPath id="clip-path2" transform="translate(5 5)"><path class="cls-12" d="M0,23a2,2,0,0,1,2-2H69.09L51.5,3.41A2,2,0,0,1,54.33.59l20.91,20.9a2,2,0,0,1,0,2.83L54.33,45.23a2,2,0,0,1-2.83,0,2,2,0,0,1,0-2.83L68.9,25H2A2,2,0,0,1,0,23Z"/></clipPath></defs><title>arrow-next</title><g class="cls-22"><rect width="85.82" height="55.81"/></g></svg>
						</div>
					</div>
					<div class="third-slider">
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_first">
								<img src="img/slider1.jpg" alt="" class="third-slider-img third-slider-img_first">
							</div>
							<h6 class="third-slider-title third-slider-title_first">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_yellow"></span>
								Підвищення</span>
								<br>кваліфікації<br> педагогів
							</h6>
							<a href="" class="third-slider-more third-slider-more_first">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_second">
								<img src="img/slider2.jpg" alt="" class="third-slider-img third-slider-img_second">
							</div>
							<h6 class="third-slider-title third-slider-title_second">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_blue"></span>
								Перемога!</span>
							</h6>
							<a href="" class="third-slider-more third-slider-more_second">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_third">
								<img src="img/slider3.jpg" alt="" class="third-slider-img third-slider-img_third">
							</div>
							<h6 class="third-slider-title third-slider-title_third">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_green"></span>
								Карате в Міжнародній</span><br>
								Інноваційній школі
							</h6>
							<a href="" class="third-slider-more third-slider-more_third">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_second">
								<img src="img/slider2.jpg" alt="" class="third-slider-img third-slider-img_second">
							</div>
							<h6 class="third-slider-title third-slider-title_second">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_blue"></span>
								Перемога!</span>
							</h6>
							<a href="" class="third-slider-more third-slider-more_second">Читати...</a>
						</div>
						<div class="third-slider-item">
							<div class="third-slider-block third-slider-block_third">
								<img src="img/slider3.jpg" alt="" class="third-slider-img third-slider-img_third">
							</div>
							<h6 class="third-slider-title third-slider-title_third">
							<span class="third-slider-span">
								<span class="third-slider-overlay third-slider-overlay_green"></span>
								Карате в Міжнародній</span><br>
								Інноваційній школі
							</h6>
							<a href="" class="third-slider-more third-slider-more_third">Читати...</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	@import "footer.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
