<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Veselka</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=480, maximum-scale=1.0"/>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/jquery.fancybox.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<main class="main">
		<section class="events">
			<div class="events-overlay"></div>
			<div class="container">
				<div class="events-content">
					<div class="events-top">
						<div class="events-left">
						<span class="events-date">
							<span class="events-date-overlay"></span>
							14.11.2017
						</span>
							<h2 class="events-title">Карате в Міжнародній Інноваційній школі</h2>
						</div>
						<div class="events-right">
							<div class="events-slider">
								<div class="events-slider-item">
									<img src="img/event1.jpg" alt="" class="events-slider-img">
								</div>
								<div class="events-slider-item">
									<img src="img/event1.jpg" alt="" class="events-slider-img">
								</div>
								<div class="events-slider-item">
									<img src="img/event1.jpg" alt="" class="events-slider-img">
								</div>
							</div>
						</div>
					</div>
					<div class="events-bottom">
						<div class="events-info">
							<p class="events-info-text">Заняття з дитячого карате це:</p>
							<ul class="events-info-list">
								<li class="events-info-item">Розвиток тілесних і фізичних навичок у дітей.</li>
								<li class="events-info-item">Підвищення гнучкості  та  рухливості. Вміння володіти навичками контролю м’язового апарату, діти навчаються розслабляти чи напружувати м’язи тоді коли це необхідно.</li>
								<li class="events-info-item">Тренування координації рухів. За допомогою спеціальних вправ, проходить корегування розвитку опорно-рухового апарату (якщо це є необхідним).</li>
								<li class="events-info-item">Загально фізичне зміцнення організму.</li>
								<li class="events-info-item">Психологічна підготовка та удосконалення навиків направлення енергії у потрібному напрямку.</li>
							</ul>
							<p class="events-info-text">У процесі регулярних занять з карате, сором’язлива дитина, стає більш впевнена в собі і у своїх силах, стає більш цілеспрямованою, яка володіє базовими навичками самоконтролю (фізичного та психологічного).</p>
						</div>
						<div class="events-other">
							<h4 class="events-other-title">
								<span class="events-other-span proxi_light">Останні по</span>
								<span class="events-other-span lumberjack">д</span>
								<span class="events-other-span proxi_light">ії</span>
							</h4>
							<div class="events-other-list">
								<a href="" class="events-other-link">
									<img src="img/other1.jpg" alt="" class="events-other-img">
									<span class="events-other-block">
										<span class="events-other-date">14.11.2017</span>
										<span class="events-other-subtitle">Підвищення кваліфікації педагогів</span>
									</span>
								</a>
								<a href="" class="events-other-link">
									<img src="img/other2.jpg" alt="" class="events-other-img">
									<span class="events-other-block">
										<span class="events-other-date">14.11.2017</span>
										<span class="events-other-subtitle">Корисна екскурсія у світ Стоматології</span>
									</span>
								</a>
								<a href="" class="events-other-link">
									<img src="img/other3.jpg" alt="" class="events-other-img">
									<span class="events-other-block">
										<span class="events-other-date">14.11.2017</span>
										<span class="events-other-subtitle">Благодійний ярмарок</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	@import "footer_white.html"



	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
